<nav class="navbar navbar-expand-lg navbar-dark bg-primary-blue border-bottom border-white">
  <div class="d-flex justify-content-start w-40">
    <div class="navigation-item text-center w bg-success border border-white text-white" (click)='navigateToPage(navPageEnum.HOME)'>Home
    </div>
  </div>
    <div class="d-flex justify-content-around w-50">
        <div class="navigation-item text-center w bg-success border border-white text-white mr-2" (click)='navigateToPage(navPageEnum.PAGE1)'>Page1
        </div>
        <div class="navigation-item text-center w bg-success border border-white text-white" (click)='navigateToPage(navPageEnum.PAGE2)'>Page2
        </div>
    </div>
</nav>