.bg-primary-blue {
    background-color: #529bea;
}

.bg-primary-dark {
    background-color: #3158c5;
}

.bg-alert {
    background-color: #901f2a;
}

.bg-gray {
    background-color: #afa8a8;
}

.text-grey {
    color: gray;
}
.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.mtb-5 {
    margin: 0.5rem 0;
}

.mlr-4 {
    margin: 2.5rem 4rem !important;
}